/* ============ BOOTSTRAP FIXES ============ */

.btn-outline-primary {
  border: var(--bs-btn-border-width) solid var(--primary) !important;
}
.btn-outline-primary:not(.active) {
  color: var(--primary) !important;
}

.btn:hover {
  color: var(--bs-btn-hover-color) !important;
  background-color: var(--primary) !important;
  border-color: var(--text-light) !important;
}

.btn-primary {
  color: var(--text-light) !important; 
  border: var(--bs-btn-border-width) solid var(--primary) !important;
  background-color: var(--primary) !important;
}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.breadcrumb .fas.fa-home {
  color: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.alert {
  color: var(--primary) !important;
  background-color: rgba(243, 162, 31, 0.4) !important;
  border-color: var(--primary) !important;
}

.dropdown-item:active {
  background-color: var(--primary) !important;
}

.swal2-confirm {
  background-color: var(--primary) !important;
}

.form-select:focus {
  border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(215, 131, 61, 0.25);
}

/* product */
.product-card-click-event {
  cursor: pointer;
}

.product-card-modal {
  display: none;
}
.product-card-modal-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  width: 50vw;
  max-height: 80vh;
}

.modal-content > .product-card-modal-btn-close {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

.modal-content:hover, .modal-content .product-img:hover {
  transform: none !important;
}

.modal-content .product-img {
  width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
}

.product-card-modal-btn-close > i{
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.product-card-modal-btn-close {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--primary);
  font-size: 1.5rem;
  cursor: pointer;
}

.product-card-modal-btn-close:hover {
  color: rgba(0, 0, 0, 0.7);
  background: var(--primary);
  transition: background 0.3s ease;
  transition: color 0.3s ease;
}
